dataset==1.6.2
healpy==1.14.0
importlib_resources==5.4.0
matplotlib==3.7.5
mrcfile==1.4.3
nptyping==2.5.0
numba==0.56.4
numpy==1.22.0
opencv_contrib_python==4.7.0.72
pandas==2.0.3
arize-phoenix==0.0.27
Pillow==10.0.0
plotly==5.13.1
progress==1.6
scikit_image==0.19.3
scikit_learn==1.3.0
scikit_network==0.28.2
scipy==1.7.3
seaborn==0.10.0
tensorboardX==2.6.1
umap_learn==0.5.3
torchio
faiss-gpu